@page "/restaurantes"

<MudPaper Class="d-flex justify-center flex-grow-1 gap-4" Elevation="0">
    <h3><b Style="@($"color:#000000;")">Restaurantes <b Style="color:#e47c04;font-family:MonoAlphabet">ENJOY</b></b></h3>
</MudPaper>
@code {

}
