<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table>
            <tbody>
                <tr height="40">
                    <td valign="top" align="left" width="485" colspan="5" height="40" xpos="130" csheight="31" content="">
                        <center>
                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                                <b>
                                    Caribe
                                    Meeting Room
                                </b>
                            </font>
                        </center>
                    </td>
                </tr>
                <tr height="5">
                    <td width="10" height="5"></td>
                    <td valign="top" align="left" width="210" colspan="2" height="170" rowspan="2" xpos="10" csheight="167" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Salón Caribe cuenta con todos los servicios del Hotel en cuanto a
                            Banquetes, Catering para eventos Convenciones y Conferencias, equipamiento
                            audiovisual de última generación, acceso a internet (conexión directa -ethernet-
                            o discada -modem-), cabinas para traducción simultanea, líneas telefónicas,
                            etc.<br>
                        </font>
                    </td>
                    <td width="5" height="5"></td>
                    <td width="240" height="5"></td>
                    <td width="5" height="5"></td>
                    <td width="145" height="5"></td>
                </tr>
                <tr height="165">
                    <td width="10" height="165"></td>
                    <td width="5" height="165"></td>
                    <td valign="top" align="left" width="240" height="189" rowspan="2" xpos="225"><img height="170" src="images/salones de eventos/ccb4.jpg" width="230" border="2"></td>
                    <td width="5" height="165"></td>
                    <td valign="top" align="left" width="145" height="437" rowspan="3" xpos="470">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>CARIBE</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planocar.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/ccb10.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/ccb8.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="24">
                    <td width="10" height="24"></td>
                    <td valign="top" align="left" width="170" height="272" rowspan="2" xpos="10">
                        <table cellspacing="0" cellpadding="0" width="161" bgcolor="#99997a" border="3">
                            <caption>
                                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                    <b>
                                        Medidas
                                        del Salón
                                    </b>
                                </font>
                            </caption>
                            <tbody>
                                <tr>
                                    <td nowrap="" width="82" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Descripción</b></font></center></td>
                                    <td nowrap="" width="67" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cantidad</b></font></center></td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros<sup>2</sup></b></font></td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">99,6</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                12,0
                                                x 8,3
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">1.067,9</font></center></td>
                                </tr>
                                <tr align="left" bgcolor="#977a7a" height="16">
                                    <td width="82" bgcolor="#99997a" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" bgcolor="#99997a" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                39,3
                                                x 27,2
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Escuela</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">52</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teatro</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">100</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conferencia</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">120</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banquete</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">80</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Recepción</b></font>
                                        </div>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">110</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                Mesa
                                                en U
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">32</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Directorio</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">39</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="#dbae39" size="2"><b>Cena/Show</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">60</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="40" height="24"></td>
                    <td width="5" height="24"></td>
                    <td width="5" height="24"></td>
                </tr>
                <tr height="248">
                    <td width="10" height="248"></td>
                    <td valign="top" align="left" width="285" colspan="3" height="248" xpos="180" csheight="156" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            Todos
                            poseen iluminación computarizada, aire acondicionado independiente y
                            aislación acústica. Nuestro Hotel posee el mayor centro de convenciones
                            de la región y el único casino estilo Las Vegas de sudamerica,
                            seguramente podremos complacerlo en todas sus necesidades y
                            requerimientos.<br>
                            Este salón tiene idénticas características a los salones Cancun y
                            Bariloche
                        </font>
                    </td>
                    <td width="5" height="248"></td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}