<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table width="711">
            <tbody>
                <tr height="40">
                    <td valign="top" align="left" width="312" colspan="4" height="40" xpos="155" csheight="31" content="">
                        <p align="center">
                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                                <b>
                                    Exhibition
                                    Room Montecarlo
                                </b>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr height="170">
                    <td width="3" height="170"></td>
                    <td valign="top" align="left" width="303" colspan="3" height="170" xpos="20" csheight="170" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Salón Montecarlo con casi 2000 m<sup>2</sup> es ideal para realizar
                            grandes lanzamientos de productos, exhibiciones, presentaciones con stands
                            (ferias tecnológicas, convenciones, etc.)<br>
                            También es muy apto para realizar banquetes o cenas show.
                        </font>
                    </td>
                    <td valign="top" align="left" width="243" height="195" rowspan="2" xpos="205"><img height="170" src="images/salones de eventos/montec2.jpg" width="230" border="2"></td>
                    <td valign="top" align="left" width="142" height="442" rowspan="3" xpos="445">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>MONTECARLO</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planomon.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="88" src="images/salones de eventos/montec3.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/montec4.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="25">
                    <td width="3" height="25"></td>
                    <td width="7" height="25"></td>
                    <td valign="top" align="left" width="169" height="272" rowspan="2" xpos="25">
                        <table cellspacing="0" cellpadding="0" width="161" bgcolor="#99997a" border="3">
                            <caption>
                                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                    <b>
                                        Medidas
                                        del Salón
                                    </b>
                                </font>
                            </caption>
                            <tbody>
                                <tr>
                                    <td nowrap="" width="82" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Descripción</b></font></center></td>
                                    <td nowrap="" width="67" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cantidad</b></font></center></td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros<sup>2</sup></b></font></td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">1889,8</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                21,0
                                                x 94,8
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">21.333</font></center></td>
                                </tr>
                                <tr align="left" bgcolor="#977a7a" height="16">
                                    <td width="82" bgcolor="#99997a" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" bgcolor="#99997a" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                310,3
                                                x 68,8
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Escuela</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teatro</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conferencia</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banquete</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">1400</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Recepción</b></font>
                                        </div>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">2000</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                Mesa
                                                en U
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Directorio</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="#dbae39" size="2">
                                            <b>
                                                Cena
                                                Show
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">1100</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="115" height="25"></td>
                </tr>
                <tr height="247">
                    <td width="3" height="247"></td>
                    <td width="7" height="247"></td>
                    <td valign="top" align="left" width="364" colspan="2" height="247" xpos="200" csheight="103" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            En
                            este salón se han realizado las grandes veladas de Box Internacional que
                            se televisaron para todo el mund. Algunas empresas que nos confiaron sus
                            eventos o realizaron presentaciones en este salón: Volkswagen, Chevrolet,...
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}