<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table height="450" width="680">
            <tbody>
                <tr height="34">
                    <td valign="top" align="left" width="285" colspan="4" height="30" xpos="125" csheight="31" content="">
                        <center>
                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                                <b>
                                    Boardroom
                                    Portofino
                                </b>
                            </font>
                        </center>
                    </td>
                    <td width="182" height="30"></td>
                    <td width="47" height="30"></td>
                </tr>
                <tr height="1">
                    <td valign="top" align="left" width="276" colspan="3" height="158" rowspan="2" xpos="0" csheight="136" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Boardroom Portofino tiene aislación acústica, acceso a internet (por línea
                            discada o línea directa -ethernet-). Teléfonos con dos líneas y
                            conferencia, aire acondicionado iluminación computarizada, independiente
                            equipos audiovisuales.
                        </font>
                    </td>
                    <td width="3" height="21"></td>
                    <td valign="top" align="left" width="235" colspan="2" height="184" rowspan="3" xpos="215"><img height="170" src="images/salones de eventos/por2.jpg" width="230" border="2"></td>
                    <td width="140" height="21"></td>
                </tr>
                <tr height="137">
                    <td width="3" height="133"></td>
                    <td valign="top" align="left" width="140" height="387" rowspan="4" xpos="457">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>PORTOFINO</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planopor.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/por1.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/por3.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="38">
                    <td valign="top" align="left" width="203" height="250" rowspan="3" xpos="0">
                        <table cellspacing="0" cellpadding="0" width="161" bgcolor="#99997a" border="3">
                            <caption>
                                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                    <b>
                                        Medidas
                                        del Salón
                                    </b>
                                </font>
                            </caption>
                            <tbody>
                                <tr>
                                    <td nowrap="" width="82" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Descripción</b></font></center></td>
                                    <td nowrap="" width="67" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cantidad</b></font></center></td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros<sup>2</sup></b></font></td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">29,3</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                6,5
                                                x 4,5
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">313,6</font></center></td>
                                </tr>
                                <tr align="left" bgcolor="#977a7a" height="16">
                                    <td width="82" bgcolor="#99997a" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" bgcolor="#99997a" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                21,3
                                                x 14,7
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Escuela</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teatro</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conferencia</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banquete</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">12</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Recepción</b></font>
                                        </div>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                Mesa
                                                en U
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">9</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Directorio</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">12</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="#dbae39" size="2">
                                            <b>
                                                Cena
                                                Show
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="7" height="22"></td>
                    <td width="54" height="22"></td>
                    <td width="3" height="22"></td>
                </tr>
                <tr height="120">
                    <td valign="top" align="left" width="317" colspan="5" height="118" xpos="165" csheight="120" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            Especialmente
                            recomendado para pequeños grupos de trabajo o reuniones de directiva,
                            cuenta con todos los servicios de que dispone el hotel, como lo son
                            catering, traducción simultanea, etc.<br>
                            Este salón tiene similares medidas al salón Viña del Mar
                        </font>
                    </td>
                </tr>
                <tr height="114">
                    <td width="7" height="102"></td>
                    <td valign="top" align="left" width="304" colspan="4" height="102" xpos="170">
                        <table cellspacing="1" cellpadding="4" width="280" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td width="70%">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                CONTACTENOS
                                                A:<br>
                                                Of. Ventas:
                                            </b><a href="mailto:sales@conrad.com.uy">sales@conrad.com.uy</a><b>
                                                <br>
                                                Of. Catering:
                                            </b><a href="mailto:catering@conrad.com.uy">catering@conrad.com.uy</a><b>
                                                <br>
                                                Of. Banquetes:
                                            </b> <a href="mailto:banquetes@conrad.com.uy">banquetes@conrad.com.uy</a><b>
                                                <br>
                                                Entretenimientos:
                                            </b> <a href="mailto:isuggett@conrad.com.uy">isuggett@conrad.com.uy</a><b>
                                                <br>
                                            </b>
                                        </font>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}