<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table width="710" height="509">
            <tbody>
                <tr height="34">
                    <td valign="top" align="left" width="540" height="30" xpos="130" csheight="31" content="" colspan="2">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                            <b>
                                Gran
                                Ballroom Punta del Este
                            </b>
                        </font>
                    </td>
                    <td valign="top" align="left" width="142" height="505" rowspan="4" xpos="490">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>PUNTA&nbsp;DEL&nbsp;ESTE</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planopde.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/rio1.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="87" src="images/salones de eventos/rio3.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="5">
                    <td valign="top" align="left" width="271" height="221" rowspan="2" xpos="0" csheight="201" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Gran Ballroom tiene 44,5x30 metros libres de columnas y tiene capacidad
                            para 1850 sillas en conferencia, a su vez puede dividirse en 5 salones, 4
                            de 15x14,5 mts. cada uno y otro de 30 x 14,5 mts. (ver tablas), todos
                            cuentan con aislación acústica, acceso a internet (por línea discada o
                            línea directa -ethernet-). Líneas telefónicas, iluminación
                            computarizada
                        </font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                            y
                        </font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            aire
                            acondicionado independiente.
                        </font>
                    </td>
                    <td width="269" height="21"></td>
                    <td width="2" height="21"></td>
                </tr>
                <tr height="200">
                    <td valign="top" align="left" width="417" colspan="2" height="196" xpos="220"><img height="183" src="images/salones de eventos/ptaeste2.jpg" width="260" border="2"></td>
                </tr>
                <tr height="120">
                    <td valign="top" align="left" width="694" colspan="3" height="246" xpos="0">
                        <table cellspacing="1" cellpadding="1" width="485" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td width="82" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Salón</font></td>
                                    <td width="38" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Mts.<sup>2</sup></font></td>
                                    <td width="47" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Metros</font></td>
                                    <td width="30" bgcolor="#69695a">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Pies<sup>2</sup></font>
                                        </div>
                                    </td>
                                    <td width="54" bgcolor="#69695a">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Pies</font>
                                        </div>
                                    </td>
                                    <td width="24" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Escu.</font></td>
                                    <td width="30" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Teatro</font></td>
                                    <td width="25" bgcolor="#69695a">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Conf.</font>
                                        </div>
                                    </td>
                                    <td width="27" bgcolor="#69695a">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Banq.</font>
                                        </div>
                                    </td>
                                    <td width="23" bgcolor="#69695a">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            En
                                            U
                                        </font>
                                    </td>
                                    <td width="26" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Direc.</font></td>
                                    <td width="26" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">Cena</font></center></td>
                                </tr>
                                <tr height="13">
                                    <td width="82" height="13">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            Punta
                                            del Este A
                                        </font>
                                    </td>
                                    <td align="middle" width="38" height="13"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">217,5</font></td>
                                    <td width="47" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">15x14,5</font></center></td>
                                    <td width="30" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">2332</font></center></td>
                                    <td width="54" height="13"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">47,5x49,1</font></td>
                                    <td width="24" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">135</font></center></td>
                                    <td width="30" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">240</font></center></td>
                                    <td width="25" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">285</font></center></td>
                                    <td width="27" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">160</font></center></td>
                                    <td width="23" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">45</font></center></td>
                                    <td width="26" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">60</font></center></td>
                                    <td width="26" height="13"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">120</font></center></td>
                                </tr>
                                <tr>
                                    <td width="82">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            Punta
                                            del Este B
                                        </font>
                                    </td>
                                    <td align="middle" width="38"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">217,5</font></td>
                                    <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">15x14,5</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">2332</font></center></td>
                                    <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">47,5x49,1</font></td>
                                    <td width="24"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">145</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">255</font></center></td>
                                    <td width="25"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">300</font></center></td>
                                    <td width="27"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">170</font></center></td>
                                    <td width="23"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">50</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">65</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">130</font></center></td>
                                </tr>
                                <tr>
                                    <td width="82">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            Punta
                                            del Este C
                                        </font>
                                    </td>
                                    <td align="middle" width="38"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">435,0</font></td>
                                    <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">30x14,5</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">4664</font></center></td>
                                    <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">98,2x47,5</font></td>
                                    <td width="24"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">290</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">490</font></center></td>
                                    <td width="25"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">580</font></center></td>
                                    <td width="27"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">340</font></center></td>
                                    <td width="23"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">95</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">125</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">250</font></center></td>
                                </tr>
                                <tr>
                                    <td width="82">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            Punta
                                            del Este D
                                        </font>
                                    </td>
                                    <td align="middle" width="38"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">217,5</font></td>
                                    <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">15x14,5</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">2332</font></center></td>
                                    <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">47,5x49,1</font></td>
                                    <td width="24"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">135</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">240</font></center></td>
                                    <td width="25"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">285</font></center></td>
                                    <td width="27"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">160</font></center></td>
                                    <td width="23"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">45</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">60</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">120</font></center></td>
                                </tr>
                                <tr>
                                    <td width="82">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                            Punta
                                            del Este E
                                        </font>
                                    </td>
                                    <td align="middle" width="38"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">217,5</font></td>
                                    <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">15x14,5</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">2332</font></center></td>
                                    <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">47,5x49,1</font></td>
                                    <td width="24"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">145</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">255</font></center></td>
                                    <td width="25"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">300</font></center></td>
                                    <td width="27"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">170</font></center></td>
                                    <td width="23"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">50</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">60</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">130</font></center></td>
                                </tr>
                                <tr>
                                    <td width="82">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            Todo
                                            el salón
                                        </font>
                                    </td>
                                    <td align="middle" width="38"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">1335,0</font></center></td>
                                    <td width="47">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                                                30
                                                x 44,5
                                            </font>
                                        </center>
                                    </td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">14.313,4</font></center></td>
                                    <td width="54"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">145,7x98,2</font></center></td>
                                    <td width="24"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">880</font></center></td>
                                    <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">1600</font></center></td>
                                    <td width="25"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">1850</font></center></td>
                                    <td width="27"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">1020</font></center></td>
                                    <td width="23"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">N/A</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">N/A</font></center></td>
                                    <td width="26"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">880</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}