<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
             <table width="670" height="377">
  <tbody><tr height="40">
    <td valign="top" align="left" width="287" colspan="3" height="36" xpos="95" csheight="31" content=""><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000"><b>Junior
      Ballroom Rio de Janeiro</b></font></td>
    <td valign="top" align="left" width="112" height="373" rowspan="4" xpos="470">
      <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
        <tbody>
          <tr>
            <td bgcolor="#979766"><center><b>RIO de JANEIRO</b></center></td>
          </tr>
          <tr height="120">
            <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planorio.gif" width="120" border="2"></center></td>
          </tr>
          <tr height="110">
            <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/rio1.jpg" width="120" border="2"></center></td>
          </tr>
          <tr height="109">
            <td valign="center" bgcolor="#99997a" height="109"><center><img height="87" src="images/salones de eventos/rio3.jpg" width="120" border="2"></center></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr height="5">
    <td width="10" height="21"></td>
    <td valign="top" align="left" width="254" height="183" rowspan="2" xpos="5" csheight="185" content=""><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">El
      Junior Ballroom esta libre de columnas y se puede dividir en 3 salones de
      16x14 mts. cada uno con capacidad para conferencias de 300 personas, todos
      cuentan con aislación acústica, acceso a internet (por línea discada o
      línea directa -ethernet-).<br>
      Líneas telefónicas, iluminación computarizada y aire acondicionado
      independiente.</font></td>
    <td width="45" height="183" rowspan="2" valign="top"><img height="170" src="images/salones de eventos/rio2.jpg" width="230" border="2"></td>
  </tr>
  <tr height="200">
    <td width="10" height="158"></td>
  </tr>
  <tr height="128">
    <td valign="top" align="left" width="607" colspan="4" height="146" xpos="0">
      <table cellspacing="1" cellpadding="1" width="469" bgcolor="#99997a" border="0">
        <tbody>
          <tr>
            <td width="54" bgcolor="#69695a"><b>Salón</b></td>
            <td width="32" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Mts.<sup>2</sup></b></font></td>
            <td width="47" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
            <td width="6%" bgcolor="#69695a">
              <div align="left">
                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
              </div>
            </td>
            <td width="53" bgcolor="#69695a">
              <div align="left">
                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
              </div>
            </td>
            <td width="5%" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Esc.</b></font></td>
            <td width="31" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teat.</b></font></td>
            <td width="6%" bgcolor="#69695a">
              <div align="left">
                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conf.</b></font>
              </div>
            </td>
            <td width="35" bgcolor="#69695a">
              <div align="left">
                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banq.</b></font>
              </div>
            </td>
            <td width="30" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>En
              U</b></font></td>
            <td width="22" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Dir.</b></font></td>
            <td width="3%" bgcolor="#69695a"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cena</b></font></td>
          </tr>
          <tr height="16">
            <td width="54" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Rio
              A</b></font></td>
            <td width="32" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>226</b></font></td>
            <td width="47" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>16x14,1</b></font></center></td>
            <td width="6%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>2424</b></font></center></td>
            <td width="53" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52,4x46,3</b></font></td>
            <td width="5%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>130</b></font></center></td>
            <td width="31" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>250</b></font></center></td>
            <td width="6%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>300</b></font></center></td>
            <td width="35" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>190</b></font></center></td>
            <td width="30" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>45</b></font></center></td>
            <td width="22" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52</b></font></center></td>
            <td width="3%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>120</b></font></center></td>
          </tr>
          <tr height="16">
            <td width="54" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Rio
              B</b></font></td>
            <td width="32" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>225,6</b></font></td>
            <td width="47" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>16x14</b></font></center></td>
            <td width="6%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>2419</b></font></center></td>
            <td width="53" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52,4x46,2</b></font></td>
            <td width="5%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>130</b></font></center></td>
            <td width="31" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>250</b></font></center></td>
            <td width="6%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>300</b></font></center></td>
            <td width="35" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>190</b></font></center></td>
            <td width="30" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>45</b></font></center></td>
            <td width="22" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52</b></font></center></td>
            <td width="3%" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>120</b></font></center></td>
          </tr>
          <tr>
            <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Rio
              C</b></font></td>
            <td width="32"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>214,4</b></font></td>
            <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>16x13,40</b></font></center></td>
            <td width="6%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>2299</b></font></center></td>
            <td width="53"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52,4x43,9</b></font></td>
            <td width="5%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>130</b></font></center></td>
            <td width="31"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>250</b></font></center></td>
            <td width="6%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>300</b></font></center></td>
            <td width="35"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>190</b></font></center></td>
            <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>45</b></font></center></td>
            <td width="22"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>52</b></font></center></td>
            <td width="3%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>120</b></font></center></td>
          </tr>
          <tr>
            <td width="54"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Salones
              A+B+C</b></font></td>
            <td width="32"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>667,0</b></font></center></td>
            <td width="47"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>41,7x16,0</b></font></center></td>
            <td width="6%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>7.159</b></font></center></td>
            <td width="53"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>136,6x52,4</b></font></center></td>
            <td width="5%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>400</b></font></center></td>
            <td width="31"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>750</b></font></center></td>
            <td width="6%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>900</b></font></center></td>
            <td width="35"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>580</b></font></center></td>
            <td width="30"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>130</b></font></center></td>
            <td width="22"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>175</b></font></center></td>
            <td width="3%"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1"><b>410</b></font></center></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody></table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}