<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table height="478" cellspacing="0" cellpadding="0" width="596" border="0" usegridy="" showgridy="" gridy="5" usegridx="" showgridx="" gridx="5" cool="">
            <tbody>
                <tr height="35">
                    <td width="1" height="35">
                        <spacer height="35" width="1" type="block">
                        </spacer>
                    </td>
                    <td width="450" height="35" colspan="3">
                        <center>
                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                                <b>
                                    Riviera
                                    Meeting Room
                                </b>
                            </font>
                        </center>
                    </td>
                    <td width="140" height="35"></td>
                </tr>
                <tr height="170">
                    <td width="1" height="170">
                        <spacer height="170" width="1" type="block">
                        </spacer>
                    </td>
                    <td valign="top" align="left" width="210" colspan="2" height="170" xpos="5" csheight="167" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Salón Riviera cuenta con todos los servicios del Hotel en cuanto a
                            Banquetes, Catering para eventos Convenciones y Conferencias,
                            equipamiento audiovisual de última generación, acceso a internet
                            (conexión directa -ethernet- o discada -modem-), cabinas para traducción
                            simultanea, líneas telefónicas, etc.<br>
                        </font>
                    </td>
                    <td valign="top" align="left" width="240" height="174" rowspan="2" xpos="215"><img height="170" src="images/salones de eventos/ccb3.jpg" width="230" border="2"></td>
                    <td valign="top" align="left" width="140" height="442" rowspan="3" xpos="455">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>RIVIERA</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planoriv.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/ccb1.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/ccb6.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="4">
                    <td width="1" height="4">
                        <spacer height="4" width="1" type="block">
                        </spacer>
                    </td>
                    <td valign="top" align="left" width="165" height="272" rowspan="2" xpos="5">
                        <table cellspacing="0" cellpadding="0" width="161" bgcolor="#99997a" border="3">
                            <caption>
                                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                    <b>
                                        Medidas
                                        del Salón
                                    </b>
                                </font>
                            </caption>
                            <tbody>
                                <tr>
                                    <td nowrap="" width="82" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Descripción</b></font></center></td>
                                    <td nowrap="" width="67" bgcolor="#69695a"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cantidad</b></font></center></td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros<sup>2</sup></b></font></td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">87,6</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                8,5
                                                x 10,3
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">939</font></center></td>
                                </tr>
                                <tr align="left" bgcolor="#977a7a" height="16">
                                    <td width="82" bgcolor="#99997a" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" bgcolor="#99997a" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                27,8
                                                x 33,7
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Escuela</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">45</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teatro</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">58</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conferencia</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">--</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banquete</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">70</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Recepción</b></font>
                                        </div>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">--</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                Mesa
                                                en U
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">26</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Directorio</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">--</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cena/Show</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">--</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="45" height="4"></td>
                </tr>
                <tr height="268">
                    <td width="1" height="268">
                        <spacer height="268" width="1" type="block">
                        </spacer>
                    </td>
                    <td valign="top" align="left" width="285" colspan="2" height="268" xpos="170" csheight="121" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            Todos
                            poseen iluminación computarizada, aire acondicionado independiente y
                            aislación acústica. Nuestro Hotel posee el mayor centro de
                            convenciones de la región y el único <a href="http://www.conrad.com.uy/esp/ecasino.html" target="main">casino</a>
                            estilo Las Vegas de sudamerica, seguramente podremos complacerlo en
                            todas sus necesidades y requerimientos.
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}