<MudDialog MaxWidth="MaxWidth.ExtraSmall">
    <DialogContent>
        <table>
            <tbody>
                <tr height="34">
                    <td width="585" height="34" colspan="6">
                        <center>
                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="4" color="#800000">
                                <b>
                                    Boardroom
                                    Viña del Mar
                                </b>
                            </font>
                        </center>
                    </td>
                </tr>
                <tr height="1">
                    <td valign="top" align="left" width="200" colspan="2" height="141" rowspan="2" xpos="0" csheight="136" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            El
                            Boardroom Viña del Mar tiene aislación acústica, acceso a internet (por
                            línea discada o línea directa -ethernet-). Teléfonos con dos líneas y
                            conferencia, iluminación computarizada, equipos audiovisuales, aire
                            acondicionado independiente.
                        </font>
                    </td>
                    <td width="5" height="1"></td>
                    <td valign="top" align="left" width="235" height="176" rowspan="3" xpos="205"><img height="170" src="images/salones de eventos/vdm4.jpg" width="230" border="2"></td>
                    <td width="5" height="1"></td>
                    <td width="140" height="1"></td>
                </tr>
                <tr height="140">
                    <td width="5" height="140"></td>
                    <td width="5" height="140"></td>
                    <td valign="top" align="left" width="140" height="412" rowspan="3" xpos="445">
                        <table cellspacing="0" cellpadding="0" width="140" bgcolor="#99997a" border="0">
                            <tbody>
                                <tr>
                                    <td bgcolor="#979766"><center><b>VIÑA&nbsp;DEL&nbsp;MAR</b></center></td>
                                </tr>
                                <tr height="120">
                                    <td valign="center" bgcolor="#99997a" height="120"><center><img height="104" src="images/salones de eventos/planovdm.gif" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/vdm2.jpg" width="120" border="2"></center></td>
                                </tr>
                                <tr height="110">
                                    <td valign="center" bgcolor="#99997a" height="110"><center><img height="90" src="images/salones de eventos/vdm3.jpg" width="120" border="2"></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr height="35">
                    <td width="20" height="35"></td>
                    <td valign="top" align="left" width="180" height="272" rowspan="2" xpos="20">
                        <table cellspacing="0" cellpadding="0" width="161" bgcolor="#977a7a" border="3">
                            <caption>
                                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                    <b>
                                        Medidas
                                        del Salón
                                    </b>
                                </font>
                            </caption>
                            <tbody>
                                <tr>
                                    <td nowrap="" width="82" bgcolor="#865d5d"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Descripción</b></font></center></td>
                                    <td nowrap="" width="67" bgcolor="#865d5d"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Cantidad</b></font></center></td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros<sup>2</sup></b></font></td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">32,2</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Metros</b></font></td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                5,7
                                                x 5,7
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="19">
                                    <td width="82" height="19">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies<sup>2</sup></b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="19"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">345,3</font></center></td>
                                </tr>
                                <tr align="left" bgcolor="#977a7a" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Pies</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16">
                                        <center>
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">
                                                18,5
                                                x 18,7
                                            </font>
                                        </center>
                                    </td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Escuela</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Teatro</b></font></td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Conferencia</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr align="left" height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Banquete</b></font>
                                        </div>
                                    </td>
                                    <td align="middle" width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">12</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <div align="left">
                                            <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Recepción</b></font>
                                        </div>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                                            <b>
                                                Mesa
                                                en U
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">9</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16"><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>Directorio</b></font></td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">12</font></center></td>
                                </tr>
                                <tr height="16">
                                    <td width="82" height="16">
                                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="#dbae39" size="2">
                                            <b>
                                                Cena
                                                Show
                                            </b>
                                        </font>
                                    </td>
                                    <td width="67" height="16"><center><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" color="black" size="1">n/a</font></center></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="5" height="35"></td>
                    <td width="5" height="35"></td>
                </tr>
                <tr height="237">
                    <td width="20" height="237"></td>
                    <td width="5" height="237"></td>
                    <td valign="top" align="left" width="235" height="237" xpos="205" csheight="151" content="">
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            Especialmente
                            recomendado para pequeños grupos de trabajo o reuniones de directiva,
                            cuenta con todos los <a href="http://www.conrad.com.uy/esp/eservici.html" target="main">servicios</a>
                            de que dispone el hotel, como son catering y traducción simultanea.<br>
                            <br>
                            Este salón tiene similares caracteristicas al salón <a href="http://www.conrad.com.uy/esp/esal_por.html">Portofino.</a>
                        </font>
                    </td>
                    <td width="5" height="237"></td>
                </tr>
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

}